# ignore directory
brisc2025/
BrainTumor_*/
fastapi/
yolo_dataset_*/
runs/

# --- 2. Python & System Junk (CRITICAL) ---
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# --- 3. Model Weights ---
*.pt
*.pth
*.onnx

# --- 4. IDE & Environment ---
.vscode/
.idea/
*.swp
env/
venv/

# --- 5. any zip files
*.zip

# add whitelist the best model pt
git add -f BrainTumor_BiFPN/run1/weights/best.pt

# for now
*.ipynb
yolo11n-bifpn.yaml
data_multiclass.yaml